#SERVER
server.adress = <SERVER_ADRESS>
server.port = <SERVER_PORT>

#DATABASE_CONNECTION
DB.user = <USERNAME>
DB.password = <PASSWORD>
DB.url = jdbc:<DATABASE(e.g:_postgresql)>://<HOST>:<PORT>/<DATABASE>

#DIALECT
spring.jpa.properties.hibernate.dialect = <DIALECT>

#OTHERS...
spring.h2.console.enabled = <BOOLEAN>
spring.h2.console.path = <H2_CONSOLE_PATH>